<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleExecutable</key>
    <string>CodexProfileManager</string>
    <key>CFBundleIdentifier</key>
    <string>local.codex-profile-manager</string>
    <key>CFBundleName</key>
    <string>Codex 多账号管理器</string>
    <key>CFBundleShortVersionString</key>
    <string>0.3.6</string>
    <key>CFBundleVersion</key>
    <string>10</string>
    <key>LSMinimumSystemVersion</key>
    <string>14.0</string>
    <key>CFBundleIconFile</key>
    <string>AppIcon</string>
    <key>SUFeedURL</key>
    <string>https://github.com/Chanze-cn/codex-app-switch/releases/latest/download/appcast.xml</string>
    <key>SUPublicEDKey</key>
    <string>Ps0q2W27VJ41MFfDsUvV8H8e4Br+Ly20ZllzCXYFT8g=</string>
    <key>SUEnableAutomaticChecks</key>
    <false/>
    <key>SUAutomaticallyUpdate</key>
    <false/>
</dict>
</plist>
